@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
     :root {
        --background: 0 0% 100%;
        --foreground: 208 16.48% 17.84%;
        --muted: 240 6.67% 97.06%;
        --muted-foreground: 228.39 14.55% 41.76%;
        --popover: 0 0% 100%;
        --popover-foreground: 208 16.48% 17.84%;
        --card: 240 6.67% 97.06%;
        --card-foreground: 208 16.48% 17.84%;
        --border: 0 0% 86.27%;
        --input: 0 0% 86.27%;
        --primary: 0 0% 9.41%;
        --primary-foreground: 0 0% 100%;
        --secondary: 0 0% 95.29%;
        --secondary-foreground: 0 0% 9.41%;
        --accent: 240 6.67% 97.06%;
        --accent-foreground: 0 0% 9.41%;
        --destructive: 0 77% 39.22%;
        --destructive-foreground: 0 0% 100%;
        --ring: 0 0% 9.41%;
        --radius: 0.5rem;
    }
    .dark {
        --background: 220 13% 13%;
        --foreground: 220 10% 97%;
        --muted: 220 13% 15%;
        --muted-foreground: 220 10% 70%;
        --popover: 220 13% 16%;
        --popover-foreground: 220 10% 97%;
        --card: 220 13% 15%;
        --card-foreground: 220 10% 97%;
        --border: 220 13% 20%;
        --input: 220 13% 20%;
        --primary: 220 10% 97%;
        --primary-foreground: 220 13% 13%;
        --secondary: 220 13% 20%;
        --secondary-foreground: 220 10% 97%;
        --accent: 220 13% 18%;
        --accent-foreground: 220 10% 97%;
        --destructive: 0 77% 39.22%;
        --destructive-foreground: 0 0% 100%;
        --ring: 240 6.67% 97.06%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply min-h-screen bg-background text-foreground font-sans antialiased;
    }
}